div.animelist {
    padding: 0;
    margin: 0;
}

div.animelist a {
    margin: 12px;
    font-family: Poppins;
    text-decoration: none;
    color: black;

}




div.list {
    width: fit-content;
    background-color: black;
    border-radius: 30px;
    display: flex;
    flex-wrap: wrap;
}

div.list img,
h3,
p {
    margin-inline-start: 8px;

}

div.list a img {
    margin-block-start: 20px;
    width: 7rem;
    border-radius: 16px;
    height: 13rem
}

img:hover {
    transform: scale(1.1);
}

div.list h3 {
    color: white;
    max-width: 8rem;
    font-size: 12px;
    font-weight: bolder;
    margin-block-start: 1rem;
}

div.list p.storyline {
    height: fit-content;
    margin-block-start: 2px;
    color: hsl(0, 2%, 59%);
    font-weight: bolder;
    max-width: 8rem;
    word-spacing: 2px;
    font-size: 11px;
    line-height: 14px;
    word-spacing: 1px;
}
div.list p {
    color: red;
    font-size: 10px;

}

/* MEDIA QUERIES */


@media screen and (max-width:320px) {
    div.animelist a {
        margin: 1.5rem;

    }
    div.list p.storyline {
        max-width: 15rem;
    }
    div.list h3 {
        max-width: 20rem;
        font-weight: bolder;
        font-size: 15px;
    }
    div.list a img {
        width: 10rem;
        height: 15rem;
        margin-inline-start: 2.5rem;
    }
}

@media screen and (min-width:375px) {
    div.list h3 {
        max-width: 9.6rem;
        font-size: 13px;
    }
    div.list p.storyline {
        font-size: 12.5px;
    }
    div.list a img {
        width: 7rem;
        height: 11rem;
    }
}

@media screen and (min-width:425px) {
    div.animelist a {
        margin-inline: 1.5rem;
    }
}

@media screen and (min-width:768px) {
    div.animelist a {
        margin-inline: 1.75rem;
    }
    div.list p {
        font-size: 13px;
    }
}

