div.header {
    margin: 0;
    padding: 0;
    scroll-snap-align: start;
    background-image: linear-gradient(215deg,
            hsl(0deg 0% 1%) 0%,
            hsl(168deg 23% 5%) 13%,
            hsl(168deg 20% 9%) 19%,
            hsl(169deg 25% 11%) 24%,
            hsl(169deg 28% 14%) 28%,
            hsl(170deg 31% 16%) 32%,
            hsl(170deg 34% 19%) 35%,
            hsl(170deg 36% 22%) 39%,
            hsl(170deg 38% 24%) 42%,
            hsl(171deg 40% 27%) 45%,
            hsl(171deg 42% 30%) 48%,
            hsl(171deg 43% 33%) 52%,
            hsl(171deg 45% 35%) 55%,
            hsl(171deg 46% 38%) 58%,
            hsl(171deg 47% 41%) 61%,
            hsl(171deg 49% 44%) 65%,
            hsl(172deg 50% 46%) 68%,
            hsl(172deg 51% 49%) 72%,
            hsl(172deg 57% 52%) 76%,
            hsl(172deg 65% 55%) 81%,
            hsl(172deg 74% 58%) 87%,
            hsl(172deg 85% 61%) 100%);
    min-height: 100vh;
    font-family: 'DynaPuff', cursive;

    outline: 5px solid black;
}

div.rname {
    height: fit-content;
    display: block;
    max-width: 50rem;
    margin: 0 auto;
    position: absolute;
    top: 10rem;
    left: 20px;
    right: 20px;
    text-align: center;
}

div.header h1 {
    font-weight: 600;
    font-size: 3.1rem;

}

div.header h1 strong {
    font-family: 'Nosifer', cursive;
    font-size: 10rem;
    font-weight: 700;
    color: #080808;

}



div.header p {
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: bolder;
}

div.all {

    position: absolute;
    top: 10px;
    right: 10px;
    margin-top: 5px;
    width: 18rem;
    max-height: 10rem;
    padding: 6px;
    background-color: black;
    border-bottom: 1px solid white;
    border-radius: 30px;
    color: white;
    text-align: center;
    overflow-y: scroll;
    cursor: pointer;

}

div.all::-webkit-scrollbar {
    width: .8rem;
}

div.all::-webkit-scrollbar-track {
    border-radius: 30px;
    margin-block: 20px;

}

div.all::-webkit-scrollbar-thumb {
    background-color: rgb(54, 52, 52);
    border-radius: 30px;

}


div.all strong {
    font-size: larger;
    color: lightgray;

    font-family: Montserrat Alternates;
}

div.all p.one {
    color: white;
    font-size: small;
    margin: 0;
}




div.header p.two {
    position: absolute;
    bottom: 50px;
    left: 20px;
    font-size: small;
}

div.header p.two strong {
    font-size: large;

}
/* MEDIA QUERY */

@media screen and (min-width:1024px) {
    div.header p.two {
        transform: translate(43rem, -18rem);
        font-weight: bolder;
    }

}


@media screen and (min-width:768px) {
    div.header p.two {
        font-size: large;
        font-weight: bolder;
    }

    div.header p.two strong {
        font-size: x-large;
    }
}




@media screen and (max-width:1024px) {
    div.header h1 {
        font-size: 5rem;
    }

    div.header h1 strong {
        font-size: 10rem;
    }
    div.all p.one {
        font-size: medium;
    }
}

@media screen and (max-width:425px) {
    div.header h1 {
        font-size: 2.8rem;
    }

    div.header h1 strong {
        font-size: 7.5rem;
    }
    div.header p.two {
        font-size: medium;
        font-weight: bolder;
    }
}

@media screen and (max-width:375px) {
    div.header h1 {
        font-size: 2.4rem;
    }

    div.header h1 strong {
        font-size: 7rem;
    }
}



@media screen and (max-width:320px) {
    

    div.header p.two {
        font-size: small;

    }

    div.header p.two strong {
        font-size: medium;
    }
    div.header h1 {
        font-size: 2rem;
    }

    div.header h1 strong {
        font-size: 6rem;
    }
    div.all p.one {
        font-size: small;
    }
}
